@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    border-bottom: 2px solid gray;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

main {
    
}