@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    border-bottom: 2px solid gray;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

main {
    width: 70%;
    margin: 0 auto;
}

main .question {
    margin: 50px 0;
}

main h3, main h4 {
    margin: 20px 0;
    color: #3c4043;
}

main h3 {
    font-size: 2rem;
}

main h4 {
    font-size: 1.5rem;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    margin: 20px 0;
    color: #212121;
}

main ol ol li {
    list-style-type: lower-latin;
}