@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo-cont {
    display: flex;
    align-items: center;
    color: #63676c;
    font-size: 1.5rem;
}

header .logo-cont .logo {
    height: 2rem;
    margin-right: 20px;
}

header .profile a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.2rem;
}

header .profile .tools {
    color: #63676c;
}

header .profile .user {
    background-color: #3f70d8;
    color: white;
    border-radius: 100%;
    padding: 4px 9px;
}

header .profile .tools:hover, header .profile .user:hover {
    box-shadow: 0 0 0 10px #eff0f0;
    border-radius: 100%;
}

nav {
    border-bottom: 1px solid #63676c;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0 20px 20px;
    font-weight: 700;
}

nav ul li {
    padding: 0;
    margin-right: 30px;
}

nav ul a {
    color: #63676c;
    text-decoration: none;
}

nav ul a:hover, nav ul a.active {
    color: #3f70d8;
    padding-bottom: 18px;
    border-bottom: 3px solid #3f70d8;
}

main {
    width: 70%;
    margin: 0 auto;
}

main .question {
    margin: 50px 0;
}

main h3, main h4 {
    margin: 20px 0;
    color: #3c4043;
}

main h3 {
    font-size: 2rem;
}

main h4 {
    font-size: 1.5rem;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    margin: 20px 0;
    color: #212121;
}

main ol ol li {
    list-style-type: lower-latin;
}